@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-darkblue:hsl(234, 12%, 34%);
    --color-greyblue:hsl(229, 6%, 66%);
    --color-grey:hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: "Poppins", Arial, sans-serif;
    color: var(--color-greyblue);
    background-color: var(--color-grey);
    text-align: center;
}

h1 {
    color: var(--color-darkblue);

}

h2 {
    font-weight: 300;
    color: var(--color-darkblue);
    font-size: 1.7rem;

}

h3 {
    color: var(--color-darkblue);
    margin-top: 15px;
}

.heading-container {
    padding: 40px; 
    width: 500px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}

.container {
    background-color: var(--color-grey);
    box-shadow: 2px 2px 10px var(--color-greyblue);
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    text-align: left;
    padding: 40px;
}

.container img {
    width: 50px;
    height: 50px;
    align-self: center;
    justify-self: end;
    margin: 10px;
}

.su  {
    border-top: 8px solid var(--color-cyan);
}

.tm {
    border-top: 8px solid var(--color-red);
}

.km {
    border-top: 8px solid var(--color-orange);
}

.ca {
    border-top: 8px solid var(--color-blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (max-width:375px) {
    .heading-container {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
    }
}